<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>rocket</string>
	<string>star</string>
	<string>heart</string>
	<string>heart_double</string>
	<string>person</string>
	<string>friends</string>
	<string>couple</string>
	<string>run</string>
	<string>shopping</string>
	<string>eat</string>
	<string>cup</string>
	<string>gift</string>
	<string>foot</string>
	<string>car</string>
	<string>plane</string>
	<string>briefcase</string>
	<string>home</string>
	<string>book</string>
	<string>music</string>
	<string>mountain</string>
	<string>trophy</string>
	<string>flag</string>
	<string>lines</string>
	<string>inbox</string>
</array>
</plist>
