<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>a8a8a8</string>
	<string>E52E2E</string>
	<string>E55C2E</string>
	<string>E58A2E</string>
	<string>E5B82E</string>
	<string>E5E52E</string>
	<string>B8E52E</string>
	<string>8AE52E</string>
	<string>5CE52E</string>
	<string>2EE52E</string>
	<string>2EE55C</string>
	<string>2EE58A</string>
	<string>2EE5B8</string>
	<string>2EE5E5</string>
	<string>2EB8E5</string>
	<string>2E8AE5</string>
	<string>2E5CE5</string>
	<string>2E2EE5</string>
	<string>5C2EE5</string>
	<string>8A2EE5</string>
	<string>B82EE5</string>
	<string>E52EE5</string>
	<string>E52EB8</string>
	<string>E52E8A</string>
</array>
</plist>
