<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>787878</string>
	<string>D94141</string>
	<string>D96F4C</string>
	<string>D9924C</string>
	<string>D9B64C</string>
	<string>D9D94C</string>
	<string>B6D94C</string>
	<string>92D94C</string>
	<string>6FD94C</string>
	<string>4CD94C</string>
	<string>4CD96F</string>
	<string>4CD992</string>
	<string>4CD9B6</string>
	<string>4CC1D9</string>
	<string>4C9ED9</string>
	<string>4C7BD9</string>
	<string>4C58D9</string>
	<string>634CD9</string>
	<string>874CD9</string>
	<string>C14CD9</string>
	<string>D94CCD</string>
	<string>D94CAA</string>
	<string>E5507F</string>
	<string>D94C63</string>
</array>
</plist>
