<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Inbox</string>
		<key>iconName</key>
		<string>inbox</string>
		<key>colorHex</key>
		<string>4CC1D9</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Work</string>
		<key>iconName</key>
		<string>briefcase</string>
		<key>colorHex</key>
		<string>92D94C</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Private</string>
		<key>iconName</key>
		<string>home</string>
		<key>colorHex</key>
		<string>E5507F</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Training</string>
		<key>iconName</key>
		<string>run</string>
		<key>colorHex</key>
		<string>874CD9</string>
	</dict>
</array>
</plist>
